version: "3.8"
services:
  mongo:
    image: mongo:6.0
    container_name: easily-mongo
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: easily
      MONGO_INITDB_ROOT_PASSWORD: password
      MONGO_INITDB_DATABASE: easily
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
  mongo-express:
    image: mongo-express:1.0.2-20
    container_name: easily-mongo-express
    restart: unless-stopped
    depends_on:
      - mongo
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: easily
      ME_CONFIG_MONGODB_ADMINPASSWORD: password
      ME_CONFIG_MONGODB_SERVER: mongo
      ME_CONFIG_BASICAUTH_USERNAME: admin
      ME_CONFIG_BASICAUTH_PASSWORD: admin
    ports:
      - "8081:8081"
volumes:
  mongo_data:
